.apparel-sort-container {
    cursor: default;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    max-height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.price-sort {
    display: flex;
    justify-content: space-between;
    width: 100px;
}
.price-select {
    cursor: pointer;
    border: 0px;
    width: 200px;
    height: 25px;
    text-align: center;
    background-color: rgb(70, 70, 70);
    border-radius: 3px;
    color: white;
}
.color-sort {
    display: flex;
    justify-content: space-between;
    width: 100px;
}
.color-select {
    cursor: pointer;
    border: 0px;
    width: 200px;
    height: 25px;
    text-align: center;
    background-color: rgb(70, 70, 70);
    border-radius: 3px;
    color: white;
}
.gender-sort {
    display: flex;
    justify-content: space-between;
    width: 100px;
}
.gender-select {
    cursor: pointer;
    border: 0px;
    width: 200px;
    height: 25px;
    text-align: center;
    background-color: rgb(70, 70, 70);
    border-radius: 3px;
    color: white;
}