

.header-container {
    top: 0;
    position: relative;
    background-color: black;
    width: 100%;
    height: 100px;
}
.cart-container {
    margin-left: auto;
    display: flex;
    position: absolute;
    width: 75px;
    right: 0;
    top: 10%;
}
.joayo-text {
    z-index: 100;
    position: absolute;
    font-weight: lighter;
    animation: pulsate 0.11s ease-in-out infinite alternate;    
    color: white;
    width: max-content;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-family: Pacifico, Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.cart {
    display: inline-block;
    cursor: pointer;
    height: 50px;
    width: 50px;
}
.cart-count {
    display: inline-block;
    cursor: default;
    font-family: Pacifico, Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 50px;
    width: 50px;
    color: white;
}
.navbar {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    top: 0;
}
.nav-button {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
   
}
.nav-button:hover {
    background-color: white;
    color: black;
    z-index: 200;
}
li {
    list-style: none;
}
.header {
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
    background-image: url('https://media.istockphoto.com/vectors/graffiti-seamless-pattern-vector-id626085840?k=20&m=626085840&s=612x612&w=0&h=3iwF3tvx-X15_Bhpcq6r25cwxz_5PXcPic22rsEH2ok=');
    background-size: contain;
    border-bottom: 2px solid black;
}
.joayo-logo {
    height: 200px;
}
.header-sale {
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    padding: 8px 5px 8px 5px;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align: center;
    width: 350px;
    background-color: yellow;
}
.hamburger {
    display: none;
    position: absolute;
    cursor: pointer;
    height: 50px;
    width: 50px;
    left: 5px;
    top: 25%;
}

@media (max-width: 600px) {
 .navbar {
     display: none
 }
 .header-sale {
     display: none;
 }
 .header-container {
     position: fixed;
     z-index: 998;
 }
 .hamburger {
     display: block;
 }
 .joayo-text {
     font-size: 28px;
     top: 25px;
 }
}
@keyframes pulsate {
    100% {
      /* Larger blur radius */
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #f09,
        0 0 80px #f09,
        0 0 90px #f09,
        0 0 100px #f09,
        0 0 150px #f09;
    }
   0% {
      /* A slightly smaller blur radius */
      text-shadow:
        0 0 4px #fff,
        0 0 10px #fff,
        0 0 18px #fff,
        0 0 38px #f09,
        0 0 73px #f09,
        0 0 80px #f09,
        0 0 94px #f09,
        0 0 140px #f09;
    }
  }