@keyframes slidedown {
    0% {
        height: 0px;
    }
    100% {
        height: 100px;
       
    }
}

@keyframes slideup {
    0% {
        height: 100px;
    }
    100% {
        height: 0px;
       
    }
}

.side-nav {
    margin-top: 75px;
    min-width: 200px;
    margin-left: 20px;
    color: black;
    overflow: hidden;
    top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 250px;
    background-color: white;
}
.side-nav2 {
    margin-top: 100px;
    display: none !important;
    width: 100%;
    color: black;
    overflow: hidden;
    top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
}
.side-nav-categories {
    cursor: default;
    text-indent: 10px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 99%;
    min-height: 70px;
    border-bottom: 1px solid rgb(150, 150, 150);
}
.tops {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgb(150, 150, 150);
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.tops:hover {
    cursor: pointer;
    font-weight: 600;
}
.tops-accordion {
    height: 0px;
    overflow-y: hidden;
    animation-fill-mode: forwards !important;
    
    width: 100%;
}
.tops-accordion-categories {
    margin-top: 10px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.tops-accordion-categories:hover {
    font-weight: 600;
}
.down-arrow {
    cursor: pointer;
    height: 30px;
    width: 30px;
}
.bottoms {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.bottoms:hover {
    cursor: pointer;
    font-weight: 600;
}
.bottoms-accordion {
    height: 0px;
    overflow-y: hidden;
    animation-fill-mode: forwards !important;
    width: 100%;
}
.bottoms-accordion-categories {
    margin-top: 10px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.bottoms-accordion-categories:hover {
    font-weight: 600;
}
.shoes {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.shoes:hover {
    font-weight: 600;
    cursor: pointer;
}
.shoes-accordion {
    height: 0px;
    overflow-y: hidden;
    animation-fill-mode: forwards !important;
    width: 100%;
}
.shoes-accordion-categories {
    margin-top: 10px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.shoes-accordion-categories:hover {
    font-weight: 600;
}
.accessories {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.accessories:hover {
    font-weight: 600;
    cursor: pointer;
}
.accessories-accordion {
    height: 0px;
    overflow-y: hidden;
    animation-fill-mode: forwards !important;
    width: 100%;
}
.accessories-accordion-categories {
    margin-top: 10px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.accessories-accordion-categories:hover {
    font-weight: 600;
}